* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: impact;
    src: url("../fonts/impact/impact.ttf");
}

@font-face {
    font-family: awesome;
    src: url("../fonts/awesome/fa-brands-400.woff");
}

/* BASE */

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #606060;
}

body {
    margin: 0;
    line-height: 1;
    vertical-align: middle;
    background-color: #22252C;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
}

button:hover, a:hover {
    transition: 120ms;
    color: #203258c7;
    cursor: pointer;
}

/* LAYOUT */

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
}

/* COMPONENTS */

.main-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(44, 44, 43);
    opacity: 50%;
    transition: 0.5s;
}

.main-screen:hover {
    cursor: pointer;
}

/* --- NAV CONTAINER --- */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29B480;
    border-radius: 2em;
    margin-block: 1.5rem;
}

.logo {
    width: 133px;
    height: 2rem;
    margin-inline-start: 1.5rem;
}

.main-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.375rem;
}

.main-nav-links a {
    padding: 0.625rem 1.375rem;
    margin-inline: 0.25rem;
    color: #FEFEFE;
    border-radius: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.main-nav-links a:hover {
    background-color: #FEFEFE;
    color: #29B480;
}

/* ----- GALLERY CONTAINER ----- */

.main-container {
    background-color: #383B42;
    border-start-end-radius: 2%;
    border-start-start-radius: 2%;
    padding-block-end: 1.25rem;
}

/* --- SEARCH CONTAINER ---  */

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.5rem;
}

.search {
    border-radius: 2em;
    background-color: #22252C;
    color: #FEFEFE;
    font-size: 1.25rem;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2em;
    color: #b30a0a;
}

.filter-menu-btn {
    border-radius: 2em;
    background-color: #149FAA;
    color: #D2E8E7;
    width: 5.875rem;
    height: 2.375rem;
}

.filter-menu-btn:hover {
    background-color: #D2E8E7;
    color: #149FAA;
}

/* --- GALLERY CONTAINER ---  */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-inline: 1rem;
}

.gallery-container img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    object-position: top;
}

.gallery-container img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px 10px #767d9e;
}

/* --- FOOTER CONTAINER --- */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #29443a;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.footer-logo {
    margin-block: 1.5rem;
}

small {
    margin-block-end: 1.5rem;
    color: #fcfcfcd0;
    font-family: sans-serif;
}

.social-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.fa {
    color: rgb(199, 192, 182);
    font-family: awesome;
    width: 40px;
    height: 40px;
    margin-inline-end: 1.25rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}

.fa.behance::before {
    content: "\f1b4";
}

.fa.gitHub::before {
    content: "\f09b";
}

.fa:hover {
    background-color: #5170adb2;
}

/* ----- MEME EDITOR ----- */

.meme-container {
    display: flex;
    transform: translateY(100%);
    transition: 1s;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 235, 205, 0.911);
}

.close-meme-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.canvas {
    border: solid 2px black;
    width: 40%;
    height: 90%;
}

.meme-features {
    font-family: sans-serif;
    display: grid;
    width: 40%;
    height: 90%;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    justify-content: center;
    align-items: center;
    grid-gap: 0.75rem;
    margin-inline: 0.5rem;
    background-color: #383B42;
    border-radius: 2%;
}

.meme-features>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    background-color: #FFFFFF;
    font-size: 1.5rem;
}

.txt-input {
    grid-row-start: 1;
    grid-column: 1 / 6;
    background-color: #EBEEF3;
}

.change-lines-btn {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #44B3D0;
}

.add-line-btn {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #3DCE53;
}

.remove-line-btn {
    grid-row-start: 2;
    grid-column-start: 4;
    background-color: #DA2E37;
}

.font-size-inc {
    grid-row-start: 3;
    grid-column-start: 1;
}

.font-size-dec {
    grid-row-start: 3;
    grid-column-start: 2;
}

.font-left {
    grid-row-start: 3;
    grid-column-start: 3;
}

.font-center {
    grid-row-start: 3;
    grid-column-start: 4;
}

.font-right {
    grid-row-start: 3;
    grid-column-start: 5;
}

.move-text-left {
    grid-row-start: 4;
    grid-column-start: 1;
}

.move-text-right {
    grid-row-start: 4;
    grid-column-start: 2;
}

.move-text-up {
    grid-row-start: 4;
    grid-column-start: 4;
}

.move-text-down {
    grid-row-start: 4;
    grid-column-start: 5;
}

.text-fill {
    grid-row-start: 5;
    grid-column-start: 3;
}

.stroke-color {
    grid-row-start: 5;
    grid-column-start: 4;
}

.fill-color {
    grid-row-start: 5;
    grid-column-start: 2;
}

.text-fill:hover, .stroke-color:hover, .fill-color:hover {
    cursor: pointer;
}

.share {
    grid-row: 6 / 7;
    grid-column: 4 / 6;
    background-color: #1E7CD3;
    color: #FFFFFF;
    padding-block: 5px;
}

.download {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    background-color: #8F44BB;
    color: #FFFFFF;
    padding-block: 5px;
}

/* TABLET VIEW */

@media (min-width: 740px) {
    .container {
        max-width: 720px;
    }
    .main-nav-btn {
        display: none;
    }
}

/* DESKTOP VIEW */

@media (min-width: 1050px) {
    .container {
        max-width: 1000px;
    }
}

.meme-container {
    justify-content: space-around;
    align-items: center;
}

/* MOBILE VIEW */

@media (max-width: 740px) {
    .container {
        width: 100%;
    }
    .main-nav-btn {
        display: block;
        border: rgb(122, 122, 122) 1px solid;
        position: absolute;
        right: 2px;
        margin-inline-end: 2rem;
    }
    .main-nav-links {
        width: 80vw;
        max-height: 80vh;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        margin-inline: 10%;
        background-color: #292929d5;
        transform: translateY(-120%);
        transition: 0.7s;
    }

    .main-nav-links a {
        height: 15vh;
        display: block;
        padding-block: 8vh;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .meme-container {
        flex-direction: column-reverse;
    }

    .meme-features {
        width: 70%;
        height: 60%;
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(6, 30px);
        margin-block: 10px;
    }
    .meme-features>* {
        font-size: 1.1rem;
        margin: 0;
        padding: 5px;
    }
}