* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: impact;
    src: url("../fonts/impact/impact.ttf");
}

@font-face {
    font-family: awesome;
    src: url("../fonts/awesome/fa-brands-400.woff");
}

/* BASE */

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #606060;
    text-align: center;
}

body {
    margin: 0;
    line-height: 1;
    vertical-align: middle;
    background-color: #22252C;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
}

button:hover, a:hover {
    transition: 120ms;
    color: #203258c7;
    cursor: pointer;
}

/* LAYOUT */

.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* COMPONENTS */

.main-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(44, 44, 43);
    opacity: 50%;
    transition: 0.5s;
}

.main-screen:hover {
    cursor: pointer;
}

/* --- NAV CONTAINER --- */

.main-nav {
    display: flex;
    width: 100%;
    background-color: #29B480;
    align-items: center;
    padding: 3%;
    margin: 0;
    justify-content: space-between;
}

.logo {
    width: 133px;
    height: 2rem;
    margin-inline-start: 1.5rem;
    margin-inline-end: 2rem;
}

.main-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #22252C;
    position: fixed;
    top: 0;
    list-style-type: none;
    font-size: 1.375rem;
    transform: translateY(-100%);
    transition: 0.7s;
}

.main-nav-links a {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #FFFDFE;
    height: 20vh;
    width: 80vw;
    padding: 0;
    margin: 0;
    border-block-end: #fffdfee1 groove 2px;
    border-inline: #fffdfee1 double 2px;
    border-radius: 0;
}

.main-nav-links a:hover {
    background-color: #FEFEFE;
    color: #29B480;
}

.main-nav-btn {
    display: block;
    border: rgb(122, 122, 122) 1px solid;
    border-radius: 50%;
    padding-block: 5px;
}

/* ----- GALLERY CONTAINER ----- */

.main-page-container {
    background-color: #383B42;
    border-start-end-radius: 2%;
    border-start-start-radius: 2%;
    padding-block-end: 1.25rem;
}

/* -- SEARCH CONTAINER --  */

.search-container {
    display: flex;
    flex: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.5rem;
}

.search {
    border-radius: 2em;
    background-color: #22252C;
    color: #FEFEFE;
    font-size: 1.5rem;
    width: 90%;
    height: 3rem;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2em;
    color: #b30a0a;
}

.filter-menu-btn {
    border-radius: 2em;
    background-color: #149FAA;
    color: #D2E8E7;
    width: 5.875rem;
    height: 2.375rem;
}

.filter-menu-btn:hover {
    background-color: #D2E8E7;
    color: #149FAA;
}

/* -- GALLERY CONTAINER --  */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-inline: 1rem;
    justify-items: center;
}

.gallery-container img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    object-position: top;
    margin: 0;
}

.gallery-container img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px 10px #767d9e;
}

/* -- FOOTER CONTAINER -- */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #29443a;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.footer-logo {
    margin-block: 1.5rem;
}

small {
    margin-block-end: 1.5rem;
    color: #fcfcfcd0;
    font-family: sans-serif;
}

.social-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.fa {
    color: rgb(199, 192, 182);
    font-family: awesome;
    width: 40px;
    height: 40px;
    margin-inline-end: 1.25rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}

.fa.behance::before {
    content: "\f1b4";
}

.fa.gitHub::before {
    content: "\f09b";
}

.fa:hover {
    background-color: #5170adb2;
}

/* ----- MEME EDITOR ----- */

.meme-box {
    display: none;
    width: 100%;
    min-height: 80vh;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(255, 235, 205, 0.911);
}

.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}

.close-meme-btn {
    display: block;
    position: fixed;
    top: 1%;
    right: 1%;
}

.canvas {
    border: solid 2px rgb(41, 39, 39);
    padding: 5px;
    background-color: rgb(51, 46, 37);
    min-width: 400px;
    max-width: 80%;
    max-height: 350%;
    margin: 0.5rem;
}

.meme-features {
    margin: 0.5rem;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 2%;
    background-color: #383B42;
    padding-block-start: 1rem;
    max-width: 80%;
}

.meme-features button {
    width: 100%;
    height: 100%;
}

.meme-features>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: #FFFFFF;
    max-width: 55px;
    max-height: 55px;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 10px;
}

.txt-input {
    font-size: 1rem;
    background-color: #EBEEF3;
    padding-block: 1rem;
    border-radius: 2em;
    min-width: 80%;
    grid-row-start: 1;
    grid-column: 1 / 6;
}

.change-lines-btn {
    background-color: #44B3D0;
    grid-row-start: 2;
    grid-column-start: 2;
}

.add-line-btn {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #3DCE53;
}

.remove-line-btn {
    grid-row-start: 2;
    grid-column-start: 4;
    background-color: #DA2E37;
}

.font-size-inc {
    grid-row-start: 3;
    grid-column-start: 1;
}

.font-size-dec {
    grid-row-start: 3;
    grid-column-start: 2;
}

.font-left {
    grid-row-start: 3;
    grid-column-start: 3;
}

.font-center {
    grid-row-start: 3;
    grid-column-start: 4;
}

.font-right {
    grid-row-start: 3;
    grid-column-start: 5;
}

.move-text-left {
    grid-row-start: 4;
    grid-column-start: 1;
}

.move-text-right {
    grid-row-start: 4;
    grid-column-start: 2;
}

.move-text-up {
    grid-row-start: 4;
    grid-column-start: 4;
}

.move-text-down {
    grid-row-start: 4;
    grid-column-start: 5;
}

.font-family {
    grid-row-start: 5;
    grid-column: 1 / 3;
    font-size: 1rem;
    max-width: 90%;
    background-color: unset;
}

.font-family select{
    background-color: #EBEEF3;
    border-radius: 10%;
    padding-block: 0.5rem;
    width: 100%;
    color: rgb(48, 0, 0);
}

.text-fill {
    grid-row-start: 5;
    grid-column-start: 4;
}

.stroke-color {
    padding: 0;
    margin: 0;
    grid-row-start: 5;
    grid-column-start: 3;
}

.fill-color {
    padding: 0;
    margin: 0;
    grid-row-start: 5;
    grid-column-start: 5;
}

.text-fill:hover, .stroke-color:hover, .fill-color:hover {
    cursor: pointer;
}

.download {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    background-color: #8F44BB;
    color: #FFFFFF;
    max-width: 100%;
}

.share {
    grid-row: 6 / 7;
    grid-column: 4 / 6;
    background-color: #1E7CD3;
    color: #FFFFFF;
    max-width: 100%;
    /* padding-block: 5px; */
}

/* ----- MEDIA QUERRYS ----- */

/* -- TABLET VIEW -- */

@media (min-width: 740px) {
    .container {
        max-width: 720px;
        width: unset;
    }
    /* GALLERY CONTAINER */
    .main-nav {
        display: flex;
        padding: 0;
        border-radius: 2em;
        margin-block: 1.5rem;
    }
    .main-nav-links {
        flex-direction: row;
        position: unset;
        border: unset;
        top: unset;
        transform: unset;
        background-color: unset;
        align-self: flex-end;
    }
    .main-nav-links a {
        height: unset;
        width: unset;
        border: unset;
        margin: 0.5rem 0.5rem;
        padding: 0.625rem 1.375rem;
        border-radius: 2em;
    }
    .main-nav-btn {
        display: none;
    }
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    /* MEME CONTAINER */
    .meme-features {
        grid-gap: 0;
    }
}

/* -- DESKTOP VIEW -- */

@media (min-width:1050px) {
    .container {
        max-width: 1000px;
    }
    /* GALLERY CONTAINER */
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
    }
    /* MEME CONTAINER */
    .meme-container {
        flex-direction: row;
    }
    .canvas {
        max-width: 50%;
    }
    .meme-features {
        max-width: 50%;
        max-height: 75%;
        grid-gap: 0.75rem;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
    .meme-features>* {
        font-size: 1.5rem;
        margin: 0.5rem;
    }
}

/* SMALL MOBILES */

@media (max-width: 470px) {
    /* GALLERY CONTAINER */
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
    }
    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-block: 1.5rem;
    }
}